<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright (C) 2017 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.testing.espresso.multiprocesssample.test">

    <!-- Multi-Process Espresso only works on API level 26 and above-->
    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="26"/>

    <!--
      This custom androidTest/AndroidManifest.xml is required because the current Gradle DSL
      doesn't support the ability to define the new "targetProcesses" Instrumentation attribute and
      to define custom "meta-data" tags that are required in this case.
    -->

    <instrumentation
        android:name="android.support.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.example.android.testing.espresso.multiprocesssample"
        android:targetProcesses="*" > <!-- The instrumentation attribute introduced in O -->

        <!--
          The following is used by AndroidJUnitRunner (AJUR) to init Espresso in the new PID. This
          is mandatory and is required because AJUR is automatically instantiated by the Android
          framework itself since it's simply an Instrumentation. However, Espresso is just a testing
          framework that is used by AJUR so it's responsible to instantiate it on the remote process
          in order for handle all the actions from the original process.
        -->
        <meta-data
            android:name="remoteMethod"
            android:value="android.support.test.espresso.remote.EspressoRemote#remoteInit"/>

    </instrumentation>

</manifest>
