<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      xmlns:tools="http://schemas.android.com/tools"
      package="com.example.android.testing.espresso.RecyclerViewSample"
      android:versionCode="1"
      android:versionName="1.0">

    <instrumentation android:targetPackage="com.example.android.testing.espresso.RecyclerViewSample"
                     android:name="androidx.test.runner.AndroidJUnitRunner"/>

    <application tools:replace="label" android:label="RecyclerViewSampleTest" />
</manifest>
