<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      xmlns:tools="http://schemas.android.com/tools"
      package="com.example.android.testing.espresso.CustomMatcherSample"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="28" />

    <instrumentation android:targetPackage="com.example.android.testing.espresso.CustomMatcherSample"
                     android:name="androidx.test.runner.AndroidJUnitRunner"/>

    <application tools:replace="label" android:label="CustomMatcherSampleTest" />
</manifest>
