# Workflow name
name: Compose Preview Screenshot
on:
  # When it will be triggered
  # And in which branch
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        
      - name: Set Up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '17'
          cache: 'gradle'

      - name: Build project and run screenshot tests
        working-directory: ./ui/PreviewScreenshot
        run: ./gradlew validateDebugScreenshotTest
