name: Validate Gradle Wrapper

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

jobs:
  validation:
    name: Validation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v3
